
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/Web/OpenSans-Regular.ttf');
}


body {
    font-family:  OpenSans-Regular, sans-serif;
    font-size: 0.95em;
    line-height: 1.6em;
}

#content {
    display: block;
    width: 50em;
    text-align: justify;
    margin: 0 auto;
}

h1, h2 {
    line-height: 1.2em;
    border-bottom-color: #AAA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 0.8ex;
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
}

h3, h4 {
    font-weight: bold;
    margin-top: 2ex;
    margin-bottom: 0.8ex;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h1 + p, h2 + p, h3 + p, h4 + p {
    margin-top: 0;
}

a.reference:link {
    text-decoration: none;
}

a.reference:visited {
    text-decoration: none;
}

a.reference:hover {
    text-decoration: none;
}

a.reference:active {
    text-decoration: none;
}


